<a href="https://colab.research.google.com/github/archananair17/Python-Class-1/blob/main/Python_Tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=input("Enter first number")

Enter first number456

In [5]:
y=input("Enter second number")

Enter second number345

In [6]:
int(x)+int(y)

801

In [7]:
int(x)-int(y)

111

In [8]:
int(x)/int(y)

1.3217391304347825

In [9]:
int(x)*int(y)

157320

In [10]:
print(x,y)

456 345

In [11]:
x=int(input("Enter first number"))
y=int(input("Enter second number"))

Enter first number980
Enter second number670

In [12]:
x+y

1650

In [13]:
x-y

310

In [14]:
x*y

656600

In [15]:
x/y

1.462686567164179

In [19]:
P=int(input("Enter the principal amount"))
N=int(input("Enter the number of years"))
R=int(input("Enter the rate of interest"))/100

Enter the principal amount90000
Enter the number of years3
Enter the rate of interest9

In [20]:
I=P*N*R

In [21]:
print(I)

24300.0

In [27]:
x=int(input("Enter your mark"))

Enter your mark40

In [28]:
if x > 50 :
 print("You are pass")
if x < 50 :
 print("You are failed")

You are failed

In [29]:
x=int(input("Enter your salary"))

Enter your salary500000

In [30]:
if x > 250000 :
  print("You are taxable")
if x < 250000 :
  print("You are not taxable")

You are taxable

In [33]:
sal=int(input("Enter your salary"))
if x > 300000 :
  print("You are taxable")
  t=sal*10/100
  print("tax = ",t)
else :
  print("You are not taxable")

Enter your salary900000
You are taxable
tax =  90000.0

In [34]:
sal=int(input("Enter your salary"))
if x > 250000 :
  print("You are taxable")
  t=sal*10/100
  print("tax = ",t)
else :
  print("You are not taxable")

Enter your salary400000
You are taxable
tax =  40000.0

In [38]:
sal=int(input("Enter your salary"))
if x > 250000 :
  print("You are taxable")
  tax=sal-250000
  t=int(tax*10/100)
  print("tax = ",t)
else :
  print("You are not taxable")

Enter your salary400000
You are taxable
tax =  15000

In [46]:
sal=int(input("Enter your salary"))
if sal > 250000 :
  print("You are taxable")
  if sal < 500000 :
    tax=sal-250000
    t=int(tax*10/100)
    print("tax = ",t)
  else : 
    taxes=sal*20/100
    print("tax = ",taxes)
else:
  print("You are not taxable")

Enter your salary600000
You are taxable
tax =  120000.0