<a href="https://colab.research.google.com/github/archananair17/Python-Class-1/blob/main/Salary_Tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
x=int(input("Enter a Basic Salary:"))
sal=x-250000
if sal > 250000 and sal < 500000 :
 print("tax ",sal*5/100)
elif sal > 500000 and sal < 750000 :
 print("tax ",x*10/100)
elif sal > 750000 and sal < 1000000 :
 print("tax ",x*20/100)
elif sal > 1000000 :
  print("tax ",sal*30/100)

Enter a Basic Salary:4000000
tax  1125000.0

In [22]:
y=int(input("Enter the house rent"))
hra=y-250000
if hra > 250000 and hra < 500000 :
 t=hra*5/100
 print("tax ",t)
elif hra > 500000 and hra < 750000 :
 print("tax ",hra*10/100)
elif hra > 750000 and hra < 1000000 :
 print("tax ",hra*20/100)

Enter the house rent800000
tax  55000.0

In [27]:
z=int(input("Enter special allowance"))
spa=z-250000
if spa > 250000 and spa < 500000 :
 t=spa*5/100
 print("tax ",t)
elif spa > 500000 and spa < 750000 :
 print("tax ",spa*10/100)
elif spa > 750000 and spa < 1000000 :
 print("tax ",spa*20/100)

Enter special allowance550000
tax  15000.0

In [28]:

n=int(input("Enter LTA"))
lta=n-250000
if lta > 250000 and lta < 500000 :
 print("You are taxable")
 t=lta*5/100
 print("tax ",t)
elif lta > 500000 and lta < 750000 :
 print("tax ",lta*10/100)
elif lta > 750000 and lta < 1000000 :
  print("tax ",lta*20/100)

Enter LTA600000
You are taxable
tax  17500.0